<p id="notice"><%= notice %></p>

<h1>Listing Timings for Category: </h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Identifier</th>
      <th>Official Timing (HH:MM:SS.ms)</th>
      <th>Raw timing (float seconds)</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.sort_by{|team| team.sum_of_participant_timings }.each do |team| %>
      <tr>
        <td><%= team.category %></td>
        <td><%= team.identifier %></td>
        <% if team.sum_of_participant_timings != Float::INFINITY %>
          <td><%= Time.at(team.sum_of_participant_timings).utc.strftime("%H:%M:%S.%3N") %></td>
          <% if team.sum_of_participant_timings > 0 %>
            <td> <%= team.sum_of_participant_timings %></td>
          <% else %>
            <td style="color:red">  <%= team.sum_of_participant_timings %></td>
          <% end %>
        <% else %>
          <td> - </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
