<h1>Home Page - Tembusu Vertical Marathon Controller</h1>

<script>


</script>

<%= button_to 'Participants', participants_path, :method => "get" %> <br>
<%= button_to 'Wave', waves_path, :method => "get"  %> <br>
<%= button_to 'Rank-Timing', ranks_path, :method => "get"  %> <br>
<%= button_to 'Rank Participants', rank_participants_path, :method => "get"  %> <br>

<br>
<br>
<%= button_to 'Overview <admin>', '/overview', :method => "get"  %> <br>

