
<h2 class="fronttitle"> Participants in Wave <%= params[:wave_number] %></h2>

<!--<%= form_tag search_bib_participants_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], autofocus: true%>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>-->  
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bib number</th>
      <th>Wave number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.bib_number %></td>
        <td><%= participant.wave_number %></td>
        <!--<td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>-->
        <!--<td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<div style="left: 25%">
<div class="clock" style="margin:2em; left: 25%;"></div>
</div>
<div class="message"></div>
<div>
  <button class="Start">Start</button>
  <button class="Stop">Stop</button>
  <button class="Reset">Reset</button>
</div>
