<h1 class = "fronttitle">Listing Participants</h1>

<!--
<%= form_for(@participant, remote: true) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  -->
<!--
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bib_number %><br>
    <%= f.text_field :bib_number %>
  </div>
  <div class="field">
    <%= f.label :wave_number %><br>
    <%= f.number_field :wave_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->

<!--<%= button_to 'Undo', '/participants/undolist', :method => "get" %> <br> -->

<% if flash[:notice] %>
  <div class="notice" style='color: red; font-size: 24px'><%= flash[:notice] %></div>
<% end %>

<%= form_tag search_bib_participants_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], autofocus: true%>
    <%= submit_tag "Search Bib Number", :name => nil %>
  </p>
<% end %>


<table>
  <thead>
    <tr>
      <th> <center> Name </center> </th>
      <th>Bib number</th>
      <th>Wave number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.bib_number %></td>
        <td><%= participant.wave_number %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <!--<td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Participant', new_participant_path %> -->

<br>
<h2 class = "fronttitle">Instructions</h2>
<p class="instructions">FOR TAGGERS</p>
<p class="instructions">1) Scan Bib number and make sure partipicant's Bib number is reflected, double check to make sure the barcode scanning has been done correctly.</p>
<p class="instructions"> Then click "Search Bib Number" or hit "Enter".</p>
<p class="instructions">2) Enter Wave number for the runner. Fill each Wave with 5 runners, starting from Wave number 1.</p>

<h2 class = "fronttitle">Problems</h2>
<p class="instructions">1) IN CASE YOU ENTERED THE WRONG WAVE NUMBER: Click "Edit" and change to the correct Wave number.</p>
<br>
<br>
