<h1> Rank Matching </h1>
<table>
  <thead>
    <tr>

      <th>Number</th>
      <th><center> Name </center></th>
      <th><center> Waves </center></th>
      <th> <center> Rank </center></th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Timing</th>
    </tr>
  </thead>

  <tbody>
    <td><%= count = 1 %></td>
    <% @all_info.sort_by{|h| h[:timing]}.each do |info| %>
      <tr>
        <td><%= count %></td>
        <% count = count + 1 %>
        <td><%= info[:name] %></td>
        <td><%= info[:wave_number] %></td>
        <td><%= info[:rank] %></td>
        <td><%= info[:start_time] %></td>
        <td><%= info[:end_time] %></td>
        <td><%= info[:timing] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
