<h1> Rank Matching </h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Waves</th>
      <th>Rank</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Timing</th>
    </tr>
  </thead>

  <tbody>
    <% count = 1 %>
    <% @names_with_ranks.sort_by { |x| [x[1]] }.reverse.each do |name, rank_timing| %>
      <tr>
        <td><%= count %></td>
        <% count = count + 1 %>
        <td><%= name %></td>
        <td><%= rank_timing[4] %></td>
        <td><%= rank_timing[0] %></td>
        <td><%= rank_timing[1] %></td>
        <td><%= rank_timing[2] %></td>
        <td><%= rank_timing[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
