<!--<div style="zoom: 500%"-->
<h1>Editing Participant</h1>
<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2 style="color: red"><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul style="color: red">
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= @participant.name %>
  </div>
  <div class="field">
    <%= f.label :bib_number %><br>
    <%= @participant.bib_number %>
  </div>
  <div class="field">
    <%= f.label :wave_number %><br>
    <%= f.number_field :wave_number, min: 1, autofocus: true%>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @participant %> |
<%= link_to 'Back', participants_path %>

</div>
