<p id="notice"><%= notice %></p>

<p>
  <strong>Wave number:</strong>
  <%= @wafe.wave_number %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @wafe.start_time %>
</p>

<%= link_to 'Edit', edit_wafe_path(@wafe) %> |
<%= link_to 'Back', waves_path %>
